<nav [@animateMenu] class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
    <div class="container">
        <a style="color: black"> Mazen Haouari.</a>

        <ul ngbNav #nav="ngbNav" class="menu-ul">
             <li ngbNavItem >
                <a ngbNavLink><span class="underline nav-text"  routerLink="banner" > Home</span></a>
                <ng-template ngbNavContent>First content</ng-template>
            </li>

            <li ngbNavItem >
                <a ngbNavLink (click)='scroll("jobs")'><span class="underline nav-text" routerLink="job"> Resume</span></a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem >
                <a ngbNavLink (click)='scroll("projects")'><span class="underline nav-text" routerLink="project" >Projects</span></a>
                <ng-template ngbNavContent>Third content</ng-template>
            </li>
            <li ngbNavItem >
                <a ngbNavLink (click)='scroll("moreproject")'><span class="underline nav-text" routerLink="moreproject" >More Project</span></a>
                <ng-template ngbNavContent>Third content</ng-template>
            </li>
            <li ngbNavItem >
                <a ngbNavLink (click)='scroll("contact")'><span class="underline nav-text"  routerLink="contact">Contact</span></a>
                <ng-template ngbNavContent>Fourth content</ng-template>
            </li>
            <!--
            <li ngbNavItem>
                <a (click)="downloadCV()" class="main-btn cv-btn" ngbNavLink>
                 C.V
                </a>
            </li>
            -->
        </ul>
        <div class="menu-wrapper">
            <div [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible' class="hamburger-menu"></div>
        </div>
        <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
            <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
                <nav>
                    <ol>
                        <li>
                            <a routerLink="banner">
                              Home
                            </a>
                        </li>
                        <li >
                            <a  (click)='scroll("jobs")'>
                                Resume
                            </a>
                        </li>
                        <li >
                          <a (click)='scroll("projects")'  >
                              Projects
                          </a>
                      </li>
                                       <li >
                          <a (click)='scroll("moreproject")'>
                               More Project
                          </a>
                      </li>
                      <li >
                        <a (click)='scroll("contact")' >
                             Contact
                        </a>
                      </li>
                    <!--   
                      <li>
                        <a (click)="downloadCV()" class="main-btn cv-btn">
                          C.V
                        </a>
                    </li>  -->  

                    </ol>
                </nav>
            </aside>
        </div>
    </div>
</nav>
