<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/mazenhaouari40" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/mazen-haouari/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a  href="mazenhaouari97@gmail.com" target='_blank'>mazenhaouari97@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a  href="https://github.com/mazenhaouari40" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with Angular by Mazen Haouari</div>
            <div>Last Updated: {{ lastUpdate }}</div>
        </a>

    </div>
</footer>